/*
spawn-at-startup "vesktop" 
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define CM   1
#define NOMOd 2
#define LOWER  3
#define RAISE   4
#define ML   5

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        // Tuned to minimise accidental mod activation. Without positional
        // hold-tap (single behavior, both hands) the defence is entirely in
        // the timings:
        //   tap-preferred        - an interrupting keypress NEVER forces a
        //                          hold, so same-hand rolls can't misfire
        //   require-prior-idle   - pressed <150ms after any other key it
        //                          resolves to a tap instantly, killing
        //                          misfires while typing at speed
        //   tapping-term 280     - a hold has to be deliberate
        //   quick-tap 175        - re-tapping the same key stays a tap

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&kp SEMI>;
        };

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESCAPE>;
        };

        caps_word: caps_word {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS_WORD";
            #binding-cells = <0>;
            continue-list = <UNDERSCORE>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };

    macros {
        win_sleep: win_sleep {
            label = "win_sleep";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LG(X) &kp U &kp S>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Mirrored ring+middle pairs, opening on the left, closing on the right:
        //   row0   W+F -> [     U+Y -> ]
        //   row1   R+S -> (     E+I -> )
        //   row2   X+C -> {     ,+. -> }

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <2 3>;
            layers = <0>;
        };

        left_par {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <14 15>;
            layers = <0>;
        };

        left_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <26 27>;
            layers = <0>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <8 9>;
            layers = <0>;
        };

        right_para {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <20 21>;
            layers = <0>;
        };

        right_brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <32 33>;
            layers = <0>;
        };

        esc_combo {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            display-name = "Colemak";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
            // | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
            // | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | SHFT |
            //                    | GUI |     | SPC |   | ENT |      | ALT |
            //
            // Home row mods (hold), mirrored pinky -> index.
            // Right pinky is plain O; RCTRL lives on / instead.
            //         CTRL SHFT ALT  GUI              GUI  ALT  SHFT  --
            //          A    R    S    T                N    E    I    O

            bindings = <
&trans  &td0         &kp W        &kp F       &kp P       &kp B      &kp J    &kp L            &kp U       &kp Y        &td1            &trans
&trans  &hm LCTRL A  &hm LSHFT R  &hm LALT S  &hm LGUI T  &kp G      &kp M    &hm RGUI N       &hm RALT E  &hm RSHFT I  &kp O           &trans
&trans  &kp Z        &kp X        &kp C       &kp D       &kp V      &kp K    &kp H            &kp COMMA   &kp DOT      &hm RCTRL FSLH  &trans
                                  &trans      &lt 1 TAB   &kp SPACE  &kp RET  &lt 2 BACKSPACE  &mo 3
            >;
        };

        lower_layer {
            display-name = "Num/Nav";

            // -----------------------------------------------------------------------------------------
            // |   `  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // |      |     |     |     |     |     |   | LFT | DWN |  UP | RGT |  _  |   +  |
            // | SHFT |     |     |     |     |     |   |     |  -  |  =  |     |  \  | SHFT |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1     &kp N2     &kp N3            &kp N4        &kp N5                 &kp N6       &kp N7       &kp N8      &kp N9     &kp N0         &trans
&trans  &kp GRAVE  &kp EQUAL  &kp GREATER_THAN  &kp PLUS      &kp MINUS              &kp LEFT     &kp DOWN     &kp UP      &kp RIGHT  &kp UNDER      &trans
&trans  &kp TILDE  &kp HASH   &kp LESS_THAN     &kp ASTERISK  &kp RIGHT_PARENTHESIS  &kp AT_SIGN  &kp PERCENT  &kp DOLLAR  &kp PIPE   &kp BACKSLASH  &trans
                              &trans            &trans        &trans                 &kp ESC      &trans       &trans
            >;
        };

        raise_layer {
            display-name = "Func";

            // -----------------------------------------------------------------------------------------
            // | ESC |  F2 |  F3  |  F4 |  F5 |  F6 |   | F7  |  F8 |  F9 | F10 | F11 | F12 | 
            // | F1  |     |      | DEL | HOME| END |   | PRT |     |     |     |     |     |
            // | SHFT |     |     |     | Vdwn|V_up |   |     |     |     |     |     | slp |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F2  &kp F3     &kp F4       &kp F5  &kp F6      &kp F7    &kp F8     &kp F9     &kp F10  &kp F11     &trans
&trans  &kp F1  &kp PSCRN  &kp DEL      &trans  &trans      &kp HOME  &kp PG_DN  &kp PG_UP  &kp END  &kp F12     &trans
&trans  &trans  &trans     &trans       &trans  &trans      &trans    &trans     &trans     &trans   &kp RC(F5)  &trans
                           &kp LG(TAB)  &trans  &caps_word  &trans    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(LG(LEFT)) LC(LG(RIGHT))>;
        };

        layer_4 {
            display-name = "Media";

            bindings = <
&trans  &kp K_MUTE  &kp K_VOL_DN  &kp K_VOL_UP  &kp PSCRN   &trans             &trans                &trans                &trans              &trans                 &trans  &trans
&trans  &trans      &trans        &trans        &kp LC(LG(LEFT))  &kp LC(RG(RIGHT))  &kp LS(LC(LG(LEFT)))  &kp LS(LC(LG(DOWN)))  &kp LS(LC(LG(UP)))  &kp LS(LC(LG(RIGHT)))  &trans  &trans
&trans  &trans      &trans        &trans        &trans            &trans             &trans                &trans                &trans              &trans                 &trans  &trans
                                  &trans        &trans            &trans             &trans                &trans                &trans
            >;
        };
    };
};
